<ion-view view-title="Location details">

  <ion-content class="padding">

    <div class = "row responsive-sm">

      <div class = "col col-50 col-offset-25">

        <div class="list card">

          <div class="item item-header">

            <h2>{{location.name}}</h2>

          </div>

          <div class="item item-body">

            <p class="padding"><i class="icon ion-thermometer"></i> Temperature : {{location.temperature}}°C</p>

            <p class="padding"><i class="icon ion-ios-rainy-outline"></i> Humidity : {{location.humidity}}%</p>

            <p class="padding"><i class="icon ion-ios-sunny-outline"></i> UV index: {{location.uv}}</p>

            <p class="padding"><i class="icon ion-leaf"></i> Air quality: {{100-location.mq}}%</p>

            <p class="padding"><i class="icon ion-ios-people-outline"></i> People : {{location.ppl}}</p>

          </div>

        </div>

      </div>

    </div>

  </ion-content>

</ion-view>
