<ion-view view-title="Welcome" style="background-image: url(http://i.imgur.com/3EM3acF.jpg)">
  <ion-content>
    <div class="row">
      <div class="col col-50 col-offset-25">
        <img width="100%" src="http://i.imgur.com/Ctwtm3i.png?1">
      </div>
    </div>
    <div class="row">
      <div class="col col-50 col-offset-25">
      <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="signin.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="signin.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-stable" ng-click="signIn()">
        Sign-In
      </button>
      <p class="text-center">
        <a href="#/register">Register</a>
      </p>
    </div>
      </div>
      </div>
  </ion-content>
</ion-view>
