<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="airplaneMode1" toggle-class="toggle-calm">Airplane Mode 1</ion-toggle>
      <ion-toggle ng-model="airplaneMode2" toggle-class="toggle-calm">Airplane Mode 2</ion-toggle>
      <ion-toggle ng-model="airplaneMode3" toggle-class="toggle-calm">Airplane Mode 3</ion-toggle>
      <ion-toggle ng-model="airplaneMode4" toggle-class="toggle-calm">Airplane Mode 4</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
